[submodule "vim/.vim/bundle/bclose"]
	path = vim/.vim/bundle/bclose
	url = https://github.com/rbgrouleff/bclosevim/.vim.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlpvim/.vim.git
[submodule "vim/.vim/bundle/jedivim/.vim"]
	path = vim/.vim/bundle/jedivim/.vim
	url = https://github.com/davidhalter/jedivim/.vim.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/airline"]
	path = vim/.vim/bundle/airline
	url = https://github.com/blingvim/.vim-airline.git
[submodule "vim/.vim/bundle/commentary"]
	path = vim/.vim/bundle/commentary
	url = https://github.com/tpopevim/.vim-commentary.git
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpopevim/.vim-fugitive.git
[submodule "vim/.vim/bundle/python-pep8-indent"]
	path = vim/.vim/bundle/python-pep8-indent
	url = https://github.com/hynekvim/.vim-python-pep8-indent.git
[submodule "vim/.vim/bundle/sneak"]
	path = vim/.vim/bundle/sneak
	url = https://github.com/justinmkvim/.vim-sneak.git
[submodule "vim/.vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = https://github.com/garbasvim/.vim-snipmate.git
[submodule "vim/.vim/bundle/virtualenv"]
	path = vim/.vim/bundle/virtualenv
	url = https://github.com/jmcantrellvim/.vim-virtualenv.git
